node_modules

# dependencies, yarn, etc
# yarn / eslint
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.eslintcache
.vscode/**
.DS_Store
00_Asset_*
Asset_*
packages/hardhat/asset-config*.json
packages/hardhat/project-config.json
