@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

.crawl {
  text-align: justify;
  margin: 0 auto;
  font-weight: 1000;
  line-height: 100px;
  width: 1300px;
  height: 2000px;
  transform: perspective(1330px) rotateX(20deg);
  animation: scrollCrawl 80s linear;
}

@keyframes scrollCrawl {
  0% {
    transform: perspective(1250px) rotateX(47deg) translateY(680px);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: perspective(1250px) rotateX(0deg) translateY(-4000px);
    opacity: 0;
  }
}

@keyframes scroll {
  from {
    transform: translateY(var(--start-position, 0));
  }
  to {
    transform: translateY(var(--end-position, -40%));
  }
}

@keyframes scroll-reverse {
  from {
    transform: translateY(var(--end-position, -40%));
  }
  to {
    transform: translateY(var(--start-position, 0));
  }
}

.black-matter.auto-scroll {
  animation: scroll 50s linear 1;
}

.black-matter.auto-scroll.reverse {
  animation: scroll-reverse 50s linear infinite;
}

.black-matter.auto-scroll {
  animation: scroll 50s linear ease-out;
}

.black-matter.auto-scroll.reverse {
  animation: scroll-reverse 50s linear infinite;
}

@font-face {
  font-family: "october";
  src: url("/fonts/october_crow/October Crow.ttf") format("woff2"),
    url("/fonts/october_crow/October Crow.ttf") format("ttf");
  font-weight: semibold;
  font-style: normal;
}

.october-font {
  font-family: "october";
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.blue-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: blue;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.black-section {
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0;
  position: relative;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}
* {
  box-sizing: border-box;
}
